.supportHeaderDeposite{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

li a:hover{
    color: yellow;
    cursor: pointer;
    transition: ease-in;
}

.planNow{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planDeposit{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.deMethod{
    display: flex;
    justify-content: space-evenly;
}
.deMethod p{
    margin-top: 20px;
}
.amountSpend{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.depositMethod{
    width: 100%;
    min-height: 60vh;
     background-color: rgba(71, 129, 255, 0.555);
}
.matchMethod{
    display: flex;
    justify-content: center;
    align-items: center;
}
.depositBtn{
    margin-top: 20px;
    position: absolute;
    left: 45%;
}
.planDeposit{
    width: 100%;
    height: 50vh;
    background-color: rgba(71, 129, 255, 0.555);
    padding: 50px;
}
.hideComponent{
    display: none;
}
.mainDeposit p{
    margin-left: 50px;
}
.planPlan{
    margin-left: 30px;
}
@media screen and (max-width: 414px){
    .supportHeaderDeposite{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

    .planNow h1{
        font-size: 30px;
    }
    .planPlan h4{
        font-size: 18px;
    }
    .amountMain h4{
        font-size: 15px;
    }
    .profitCount h4{
        font-size: 13px;
    }
    .planDeposit{
        margin-left: 0px;
        width: 100%;
        min-height: 70vh;
        background-color: rgba(71, 129, 255, 0.555);
    }
    .depositMethod{
        width: 100%;
        height: 50vh;
         background-color: rgba(71, 129, 255, 0.555);
    }
    .mainDeposit p{
        margin-left: 10px;
    }
    .planPlan{
        margin-left: 5px;
    }
    .planDeposit{
        width: 100%;
        height: 40vh;
        background-color: rgba(71, 129, 255, 0.555);
        padding: 10px;
    }
}












@media screen and (max-width: 414px){
    .supportHeaderDeposite{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        background-image: url('../../pic/partha-narasimhan-duXJOBVg_l4-unsplash.jpg');
        background-position: center;
        background-size: cover;
    }
}